/* style.css
 * This file provides css styles.
 */

body,html {
	/* background-color: #3b4b54; width : 100%; */
	height: 100%;
	margin: 0 auto;
	font-family: "IBM Plex Sans";
	font-size: 15px
	font-weight: 100;

}


.header {
  background-color: #000000;
  height: 30px;
	width: 100%;
}

/* Style the header links */


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

* {box-sizing: border-box;}
body {font-family: "IBM Plex Sans";}
.mySlides {display: none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
/* img {vertical-align: middle;} */


/* Caption text */
.text {
  color: #FCF8F8;
  width: 100%;
	font-size: 15px
	font-weight: 100;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: left;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 40px;
  color: white;
  background-color: #0062FF;
	border-color: #0062FF;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #428bff;
  color: white;
}

/* .bg {
  /* The image used */
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.8)),url("../images/bg.png"); */
	/* opacity: 0.2; */
  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
/* }  */

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}


h1 {
	padding-right: 10%;
	color: #FCF8F8;
	font-family: "IBM Plex Sans";
	font-size: 42px;
	font-weight: 400;
	line-height: 46px;
	margin-bottom: 1rem;
	padding-top: 6rem;
}

h2 {
	color: #FCF8F8;
	font-family: "IBM Plex Sans";
	font-size: 16px;
	line-height: 24px;

}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.w3-theme {
	color: #fff !important;
	background-color: #000000 !important;
}

.w3-padding-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
}

.w3-left-align {
	text-align: left !important;
}

.w3-block {
	display: block;
	width: 100%;
}

.w3-btn, .w3-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

button, select {
	text-transform: none;
}

button, input, select, textarea, optgroup {
	font: inherit;
	margin: 0;
}

.w3-container, .w3-panel {
	padding: 0.01em 16px;
}

*, ::before, ::after {
	box-sizing: inherit;
}

p {}

/* .leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
} */


/* table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
} */
